
server:
  port: 9090

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8080//eureka/
    healthCheck:
      enabled: true # ¿ªÆô½¡¿µ¼ì²é

mybatis:
  configuration:
    mapUnderscoreToCamelCase: true
    logImpl: org.apache.ibatis.logging.stdout.StdOutImpl
  mapper-locations: classpath:mapper/*.xml

spring:
  application:
    name: project-service
  datasource:
    username: root
    password: AH@l1512
    url: jdbc:mysql://101.132.71.228:3306/ceshi?useUnicode=true&characterEncoding=utf-8&useSSL=true&serverTimezone=UTC
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
